button {
    width: 292px;
    height: 100%;
    padding: 22px;
    margin-top: 56px;
    font-family: 'TitilliumWeb', sans-serif;
    color: $whiteColor;
    font-size: 18px;
    border: none;

    -webkit-box-shadow: 0px 6px 4px -1px rgba(200,106,64,1);
    -moz-box-shadow: 0px 6px 4px -1px rgba(200,106,64,1);
    box-shadow: 0px 6px 4px -1px rgba(200,106,64,1);

}