@font-face {
    font-family: 'TitilliumWebBold', sans-serif;
    src: url('/fonts/tittiliumwebbold.ttf');
}
@font-face {
    font-family: 'TitilliumWebSemiBold', sans-serif;
    src: url('/fonts/titilliumwebsemibold.ttf');
}
@font-face {
    font-family: 'TitilliumWeb', sans-serif;
    src: url('/fonts/titilliumweb.ttf');
}
@font-face {
    font-family: 'TitilliumWebLight', sans-serif;
    src: url('/fonts/titilliumweblight.ttf');
}
@font-face {
    font-family: 'Roboto_regular', sans-serif;
    src: url('/fonts/Roboto-Regular.ttf');

}



