@media only screen and (min-width:320px) {
   
    body {
        min-width: 320px;
    }
    
   
    .header {
        .container{
            .logo {
                margin-left: 20%;
            }
            .nav {
                display: none;
            }
            
        }
    }

    .jumbotron {
        .container{
            .text{
                h2 {
                    font-size: 30px;
                    margin-left: 30px;
                    margin-right: 30px;
                }
            }
        }
     
    }

    .services{
        .container {
            .headline {
                h1 {
                    font-size: 30px;
                }
                p{
                    font-size: 23px;
                }
            }
            .services_options{
                .services_oprions_option {
                    .text{
                        p{
                            font-size: 21px;
                        }
                    }
                }
             
            }
        }
    }

    .skills{
        .container{
            .headline{
                h1 {
                    font-size: 30px;
                }
                p{
                    font-size: 23px;
                }
            }
        }
    }

    .portfolio{
        .container{
            .headline{
                h1 {
                    font-size: 30px;
                }
                p{
                    font-size: 23px;
                }
            }
            .filters {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }

    .aboutUs{
        .container{
            .headline{
                h1 {
                    font-size: 30px;
                }
                p{
                    font-size: 23px;
                }
            }
        }
    }

    .team {
        .container{
            .headline {
                h1{
                    font-size: 30px;
                }
                p{
                    font-size: 23px;
                }
            }
            .team_members{
                .team_members_member{
                    padding-left: 20px;
                    padding-right: 20px;
                    .ava {
                        margin: auto;
                        margin-top: 0;
                        margin-bottom: 40px;
                    }
                    p{
                        font-size: 20px;
                    }
                    h3 {
                        font-size: 20px;
                    }
                }
            }
        }
    }



    .getInTouch {
        .container {
            .headline {
                h1{
                    font-size: 30px;
                }
                p{
                    font-size: 23px;
                }
            }
            form {
                .input_left, .input_right {
                    float: none;
                    display: block;
                    width: 100%
                }
            }
        }
    }

    .portfolio {
        .container {
            .sites {
                .sites_site {
                    img {
                        width: 70%;
                    }
                }
              
            }
        }
    }

    .aboutUs {
        .container {
            .comments {
                .comments_comment {
                    text-align: center;
                    margin-right: 35px;
                    margin-left: 35px;
                    .ava {
                        display: inline-block;
                        float: none;
                    }
                    .quote {
                        display: block;
                        float: none;
                        text-align: center;
                        width: 100%;
                      
                        .quote_text_320_420 {
                            
                            display: block;
                            margin-bottom: 29px;
                            font-family: 'TitilliumWeb';
                            color:  $whiteColor;
                            font-size: 21px;
                            font-style: italic;
                            line-height: 26px;   
                        }
                        .quote_text{
                            display: none;
                        }
                    }

                }
            }
        }
    }
}
@media only screen and (min-width:480px) {

   
    .aboutUs {
        .container {
            .comments {
                .comments_comment {
                    .ava {
                        margin-right: 0px;
                    }
                    .quote {
                        text-align: left;
                        .quote_text_320_420 {
                            display: none;
                           
                        }
                        .quote_text{
                            display: block;
                        }
                      
                    }

                }
            }
        }
    }

}


.team {
    .container{
        .team_members{
            .team_members_member{
            padding-left: 74px;
            padding-right: 74px;
            }
        }
    }
}







@media only screen and (min-width:768px) {
   

    .getInTouch {
        .container {
            form {
                input {
                    display: inline-block;
                }
                .input_left {
                    float: left;
                    width: 47%;
                    
                }
                .input_right {
                    float: right;
                    width: 47%;
                    
                }
            }
        }
    }

    .aboutUs {
        .container {
            .comments {
                .comments_comment {
                    text-align: center;
                    margin-left: 23px;
                    margin-right: 23px;
                    .ava {
                        float: none;
                    }
                    .quote {
                        float: none;
                    }
                }
            }
        }
    }

    .team {
        .container{
            .team_members{
                .team_members_member{
                padding-left: 20px;
                padding-right: 20px;
                }
            }
        }
    }

  
}

@media only screen and (min-width:870px) {

    .container {
        width: 100%;
        margin: auto;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: $paddingLeft - 100px;
        padding-right: $paddingRight - 100px;
    }



    .header {
        .container{
            .logo {
                margin-left: 0px;
            }
            .hamburger{
                display: none;
            }
            .nav {
                display: block;
                // ul {
                //     li {
                //         width: 60px;
                //         height: 28px;
                //     }
                // }
            }
         
        }
    }
    .jumbotron {
        .container {
            .text{
                h2 {
                    font-size: 38px;
                }
            }
        }
     
    }

    .services{
        .container {
            .headline {
                h1 {
                    font-size: 38px;
                }
                p{
                    font-size: 18px;
                }
            }
            .services_options{
                .services_oprions_option {
                    .text{
                        p{
                            font-size: 16px;
                        }
                    }
                }
             
            }
        }
    }

    .skills{
        .container{
            .headline{
                h1 {
                    font-size: 38px;
                }
                p{
                    font-size: 18px;
                }
            }
        }
    }

    .portfolio{
        .container{
            .headline{
                h1 {
                    font-size: 38px;
                }
                p{
                    font-size: 18px;
                }
            }
            .sites {
                .sites_site {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .aboutUs{
        .container{
            .headline{
                h1 {
                    font-size: 38px;
                }
                p{
                    font-size: 18px;
                }
            }
            
            .comments {
                .comments_comment {
                    display: inline-block;
                    margin-left: 0;
                    margin-right: 0;
                    .ava{
                       float: left;
                       margin-right: 50px;
                    }
                    .quote {
                        float: right;
                        width: 405px;
                    }

                }
            }

        }
    }

    .team {
        .container{
            .headline {
                h1{
                    font-size: 38px;
                }
                p{
                    font-size: 18px;
                }
            }

            .team_members{
                .team_members_member{
                    .ava {
                        margin: 0;
                        margin-bottom: 40px;
                      
                    }
                    p{
                        font-size: 16px;
                    }
                    h3 {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .getInTouch {
        .container{
            .headline {
                h1{
                    font-size: 38px;
                }
                p{
                    font-size: 18px;
                }
            }
        }
    }
       
}

@media only screen and (min-width:1440px) {
   .container {
       width: 1440px;
       margin: auto;
       margin-top: 0;
       margin-bottom: 0;
       padding-left: $paddingLeft;
       padding-right: $paddingRight;
   }

   .portfolio {
    .container {
        width: 1440px;
        padding-left: 170px;
        padding-right: 170px;
        
    }
   }
   .aboutUs {
    .container {
        width: 1440px;
        padding-left: 90px;
        padding-right: 90px;
        .comments {
            .comments_comment {
                margin-right: -5px;
                margin-left: 35px;
            }
        }
        
    }
   }
}
// @media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {

// }
