.footer {
    .container {
        background-color: $footerColor;
        .links {
            text-align: center;

            a {
                text-decoration: none;
                font-family: "TitilliumWebSemiBold", sans-serif;
                color:  $whiteColor;
                font-size: 24px;
                font-weight: 500;
                line-height: 114px;
                text-align: center;
                margin-left: 25px;
                margin-right: 25px;
            }
            .link {
                margin-bottom: 40px;
            }
            .twitter {
                color:  #30bae7;
            }
        }
    }
  
}