.header {
    .container {
        background-color: $headerColor;
        padding-top: $paddingTop;
        

        .logo {
            display: inline-block;
            margin-left: 20%;
        }
        @import '_nav.scss';
    }
}