.jumbotron {
    .container {
        
        text-align: center;
        color: $whiteColor;
        background-color: $headerColor;
        padding-top: 132px;
        padding-bottom: 147px;
      
        .text {
            margin-bottom: 49px;
 
            h2 {
                font-family: 'TitilliumWeb', sans-serif;
                font-size: 42.5px;
                font-weight: 700;
                line-height: 50px;
            }
        }
        button {
            background-color: #eb7d4b;
        }
      


    }
   
}