.jumbotron {
    .container {
        padding-top: 130px;
        text-align: center;
        color: $whiteColor;
        font-family: 'TitilliumWeb', sans-serif;
        background-color: $headerColor;
        padding-bottom: 152px;
        margin: auto;
      
        .text {
            margin-bottom: 60px;
            margin-left: 30px;
            margin-right: 30px;
            h2 {
                font-size: 42.16px;
                font-weight: 700;
            }
        }
        button {
            background-color: #eb7d4b;
        }
      


    }
   
}