.jumbotron {
    width: 100%;
    padding-top: 130px;
    text-align: center;
    color: $whiteColor;
    font-family: 'TitilliumWeb', sans-serif;
    font-size: 27px;
  
    .text {
        margin-bottom: 60px;
        margin-left: 30px;
        margin-right: 30px;
    }
    button {
        background-color: #eb7d4b;
    }
  
}