

.hamburger {
  color: #643a79;
  font-size: 45px;
  float: right;
  margin-right: 12%;
}
.hamburger:hover + .nav + .jumbotron{
  display: none;
}
.hamburger:hover + .nav{
  display: block;
  position: absolute;
  top: 110px;
  background-color: $headerColor;
  width: 100%;
 
  ul {
    border-radius: none;
    margin-left: 20%;
    li {
      display: block;
      padding-top: 15px;
      padding-bottom: 10px;
      a {
        font-size: 23px;
      }
    }
    .firstLi {
      background-color: #87509c;
    }
  }
}

.nav {
  float: right;
  margin-right: 7%;
  padding-top: 5px;

  ul {
    list-style: none;
    padding-top: 3px;

    li {
      display: inline-block;
      border-radius: $borderRadius;
      padding: 8px;
      padding-left: 15px;
      padding-right: 15px;
      
      a {
        font-family: 'TitilliumWeb', sans-serif;
        color: $whiteColor;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        text-decoration: none;
      }
      

    }
    .firstLi {
      background-color: #643a79;
    }
  }
}

