.portfolio {
        
        padding-top: 113px;
        background-color: $portfolioColor;
        text-align: center;

        .headline {
            text-align: center;
            margin-bottom: 41px;
            h1 {
                font-family: 'TitilliumWebBold', sans-serif;
                font-size: 40px;
                font-weight: 700;
                color: #393939; 
                margin: 0 30px 13px 30px;

            }
            .line {
                height: 4px;
                width: 87px;
                background-color: #e5c37f;
                margin: 0 auto 21px;
            }
            p {
                font-family: 'TitilliumWeb', sans-serif;
                color: #393939;
                font-size: 18px;
                margin: 0 30px 5px 30px;
            }      

        }

        .filters {
            margin-bottom: 42px;
        
            .filters_filter {
               
                margin: 0 4px 20px 4px;
                width: 86px;
                height: 38px;
                border-radius: 4px;
                border: 0;
                background-color:  rgba(0, 0, 0, 0.08);
                display: inline-block;
                font-family: 'TitilliumWeb', sans-serif;
                color:  #393939;
                font-size: 18px;
                font-weight: 400;
                text-align: center;
                line-height: 39px;
            
            }
            .first {
                background-color: $whiteColor;
            }
        }

        .sites {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;

            .sites_site {
                display: inline-block;
                img {
                    margin-bottom: 25px;
                }
                h3 {
                    font-family: 'TitilliumWeb', sans-serif;
                    color:  #393939;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 19.5px;
                    margin: 0 30px 62px 30px;
                }
            }
        }
        .green {
            margin-bottom: 108px;
        }
}