.services {
        
    .container {
        padding-top: 118px;
        padding-bottom: 127px;
        background-color: $serviceColor;
        height: 1px;
        .headline {
            text-align: center;
            font-family: 'TitilliumWeb', sans-serif;
            font-size: 40px;
            color: $whiteColor;

           

        }
    }

}