.skills {
        
        padding-top: 110px;
        background-color: $whiteColor;
        text-align: center;

        .headline {
            text-align: center;
            margin-bottom: 82px;
            h1 {
                font-family: 'TitilliumWebBold', sans-serif;
                font-size: 40px;
                color: $bluerColor; 
                margin: 0 30px 14px 30px;
            }
            .line {
                height: 4px;
                width: 87px;
                background-color: #dfe8ed;
                margin: 0 auto 20px;
            }
            p {
                font-family: 'TitilliumWeb', sans-serif;
                color: $bluerColor;
                font-size: 18px;
                margin: 0 30px 6px 30px;
                font-weight: 400;

            }      
        }

        .skills_progress {
            .skill_progress_progress {
                display: inline-block;
                text-align: center;
                padding-left: 50px;
                padding-right: 40px;
                margin-bottom: 120px;                
                .progress {
                    padding: 50px;
                    width: 160px;
                    height: 160px;
                    margin-bottom: 33px;
                    .percent {
                        text-align: center;
                        font-family: 'TitilliumWebLight', sans-serif;
                        color:  #3c4761;
                        font-size: 50px;
                        font-weight: 300;
                        margin-left: -10px;
                        
                    }
                }
                h3 {
                    color: $bluerColor;
                    font-family: 'TitilliumWeb', sans-serif;
                    font-weight: 700;
                }
                .web_design {
                    background-image: url("/images/Progress.png");
                }
                .html_css {
                    background-image: url("/images/Progress2.png");
                }
                .graphic {
                    background-image: url("/images/Progress3.png");
                }
                .ui_ux {
                    background-image: url("/images/Progress4.png");
                }                
            }                      
        }     
}