.team_wrapper {
    .team {
        padding: 113px 0 80px;
        background-color: $teamColor;
      
        .team_members {
            .team_members_member {
                display: inline-block;
                text-align: center;
                .ava {
                    border-radius: 50%;
                    background-color: #878787;
                    height: 198px;
                    width: 198px;
                    margin-bottom: 40px;
                }
                h1 {
                    font-family: 'TitilliumWebBold', sans-serif;
                    margin-bottom: 7px;
                    color: #3c4761;
                }
                h3 {
                    font-family: 'TitilliumWeb', sans-serif;
                    color:  #30bae7;
                    font-size: 16px;
                    font-weight: 400;
                    margin-bottom: 22px;
                }
                
                p {
                    font-family: 'TitilliumWebLight', sans-serif;
                    color:  #3c4761;
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 7px;
                    font-weight: 300;
                    width: 210px;
                }
                
                .icons{
                    text-align: center;
                    padding-top: 20px;
                     
                    .icons_icon {
                        display: inline-block;
                        background-color: #bdd1df;
                        width: 33px;
                        height: 33px;
                        border-radius: 50%;
                        padding: 8px;
                        margin: 0 4px 44px 4px;
                        color: $whiteColor;

                    }
                }

            }

        }
    }
}

